.register-box {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgb(150, 146, 146);
    width: 70%;
}

.form-control {
    margin-bottom: 15px;
}

.register {
    text-align: right;
}